/* .navbar, .toolbar{
    background: cornflowerblue;
}
.link{
    color: cornflowerblue;
} */

* {
    box-sizing: border-box;
}

.fab {
    margin-top: 100px;
}

.main-image {
    width: 100%;
    margin: 20px;
    text-align: center;
}

.plate {
    width: 50%;
}

.toolbar {
    height: 64px;
}

.toolbar-tab {
    height: 100%;
    width: 25.5%;
    outline: 1px solid black;
}